p {
  background-color: white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal__contents {
  background-color: #f5f6f7;
  margin: 10% auto;
  padding: 20px;
  border: 2px solid #828282;
  width: 400px;
}
.modal__contents__close {
  color: #828282;
  float: right;
  position: relative;
  bottom: 20px;
  right: -10px;
  font-size: 28px;
  font-weight: bold;
}
.modal__contents__close:hover,
.modal__contents__close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal__contents__text {
  display: inline;
  position: relative;
  margin-left: 25px;
}

.modal__contents__box {
  background-color: white;
  overflow-y: scroll;
  display: block;
  max-width: 100%;
  max-height: 100px;
  font-size: 12px;
  padding: 10px 10px;
  margin: 25px 25px;
  border: solid 1px #cacece;
}

.modal__btn {
  display: flex;
  justify-content: center;
}

.modal__contents__btn {
  position: relative;
  margin: 0 auto;
  width: 30%;
  padding: 10px 10px;
  height: 100%;
  color: white;
  background-color: rgba(8, 166, 0, 0.4);
  border: none;
}
