doctype html
html
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/modal.css')
    link(rel='stylesheet', href='/stylesheets/login.css')
  body
    main.root
      block content
  script(type='module',src='/javascripts/index.js')